.layer {
  width: 100%;
  height: 55vh;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.bgWhite {
  background-color: #fff;
}

.particle {
  width: 412px;
  height: 412px;
  position: absolute;
  opacity: 0.15;
}

.particle.left {
  transform: rotate(25deg);
  left: -100px;
  top: 25px;
}

.particle.right {
  transform: rotate(-160deg);
  right: -70px;
  top: -130px;
}

@media screen and (max-width: 576px) {
  .particle {
    width: 160px;
    height: 160px;
    position: absolute;
    opacity: 0.15;
  }

  .particle.left {
    transform: rotate(25deg);
    left: -30px;
    top: 25px;
  }

  .particle.right {
    transform: rotate(-160deg);
    right: -20px;
    top: -30px;
  }
}
