@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

body {
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
  color: black;
}

.text-vollkorn {
  font-family: "Vollkorn", serif;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ellipsis.max3 {
  -webkit-line-clamp: 3;
}

.ellipsis.max4 {
  -webkit-line-clamp: 4;
}

.ellipsis.max1 {
  -webkit-line-clamp: 1;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.m-none {
  margin: 0;
  padding: 0;
}

.text-grey {
  color: #8a8c90;
}

.smallRadius {
  border-radius: 1px;
}

.w-100 {
  width: 100%;
}

.text-description {
  white-space: pre-line;
  text-align: justify;
}

.mx-0 {
  margin-left: 0;
  margin-left: 0;
  padding: 0;
}

.darkButton {
  background-color: #393939;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: none;
  border: none;
}

.mPoint {
  cursor: pointer;
}
