.profileCard {
  background-color: #ffd9d9 !important;
  border: none !important;
  border-radius: 10px !important;
}

.profile {
  width: 100%;
  max-height: 220px;
}

.button {
  width: 100%;
  border: none;
  color: white;
  background-color: #d60000;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}
